<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="head"></div>
    <h1>Categories</h1>
    <a href="/admin/add-category">Add New Category</a> | <a href="/admin-page">Dashboard</a>

    <ul>
        {% for cat in categories %}
        <li>
             
            {{ cat['category_name'] }}
            

            - <a href="/admin/edit-category/{{ cat['id'] }}">Edit</a>
            - <a href="/admin/delete-category/{{ cat['id'] }}">Delete</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
