<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Questions</h1>
    <a href="/admin/add-question">Add New Question</a> | <a href="/admin-page">Dashboard</a>

    <ul>
        {% for q in questions %}
        <li>
            {{ q[1] }} (Category: {{ q[2] }})
            - <a href="/admin/edit-question/{{ q[0] }}">Edit</a>
            - <a href="/admin/delete-question/{{ q[0] }}">Delete</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
