<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="head"></div>
    <h1>Admin Dashboard</h1>
    <p>Welcome, {{ session['user_name'] }}!</p>
    <a href="/admin/categories" class="admin-link">Manage Categories</a> | 
    <a href="/admin/questions" class="admin-link">Manage Questions</a> | 


    <h2>Categories</h2>
    <ul>
        {% for cat in categories %}
        <li>{{ cat['category_name'] }}</li>
        {% endfor %}
    </ul>

    <h2>Questions</h2>
    <ul>
        {% for q in questions %}
        <li>{{ q['question_text'] }}</li>
        {% endfor %}
    </ul>
</body>
</html>
