<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Edit Category</h1>
    <form method="POST" action="/admin/edit-category/{{ category['id'] }}">
        <input type="text" name="name" value="{{ category['category_name'] }}" required>
        <button type="submit">Update</button>
    </form>
    <a href="/admin/categories">Back to Categories</a>
</body>
</html>
