<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='quiz-style.css') }}">
</head>
<body>

<header>
  <h1>Culture Lens</h1>
  <p>Discover which organizations match your personal values!</p>
</header>

<main>
  <form id="quiz-form" method="POST" action="{{ url_for('submit_quiz') }}">
    {% for q in questions %}
      {% set qid = q[0] %}
      <div class="question" style = "{% if loop.index0 != 0 %}display:none;{% endif %}">
        <p>{{ loop.index }}. {{ q[1] }}</p>

        <label><input type="radio" name="{{ qid }}" value="0" required> Strongly Disagree</label>
        <label><input type="radio" name="{{ qid }}" value="1"> Disagree</label>
        <label><input type="radio" name="{{ qid }}" value="2"> Neutral</label>
        <label><input type="radio" name="{{ qid }}" value="3"> Agree</label>
        <label><input type="radio" name="{{ qid }}" value="4"> Strongly Agree</label>
      </div>
    {% endfor %}

    <button type="button" id="next-btn">Next</button>
    <button type="submit" id="submit-btn" style="display:none;">Submit</button>
  </form>
</main>

<script src="{{ url_for('static', filename='quiz.js') }}"></script>
</body>
</html>
